/* Website Styles */

* {
  font-size: 100%;
}

body {
  background-color: #272727;
  color: #14A76C;
  font-family: 'cinzel', Lucida Grande;
  font-size: 14px;

}

h1 {
  color: #FF652F;
  font-size: 36px;
}

h2{
  color: #FF652F;
  font-size: 24px;
}

h3 {
  color:#FF652F;
  font-size: 18px;
}

footer {
  color: #747474;
}

h1, h2, h3 {
  font-weight: bold;
  font-style: italic;
}
